{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if list %}
    {% for i in list %}
        {% if i.publicate %}
        <a href="{% url 'article' i.id %}">   
            <div>    
                {% if i.article_title|length < 25 %}       
                    <h2>{{i.article_title}}</h2>
                {% else %}
                    <h2>{{i.article_title|truncatechars:25}}</h2>
                {% endif %}
                <hr>
                {% if i.article_text|length < 350 %}       
                    <p>{{i.article_text}}</p>
                {% else %}
                    <p>{{i.article_text|truncatechars:350}}</p>
                {% endif %}
            </div>
        </a>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}