{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block bg %}
    <div class='bg2'>
{% endblock %}

{% block content%}
<section class='container-my-blog'>
    {% if list %}
        {% for i in list %}
            {% if i.publicate %}
            <a href="article/{{i.id}}">
                <div class="card">       
                    <div class="card-name-button">  
                        {% if i.article_title|length < 40 %}       
                            <h3>{{i.article_title}}</h3>
                        {% else %}
                            <h3>{{i.article_title|truncatechars:40}}</h3>
                        {% endif %}
                    </div>
                    {% if i.article_image %}
                    <img src="static/media/{{i.article_image}}">
                    {% else %}
                    <img src="static/media/nophoto.png">
                    {% endif %}
                </div>
            </a>
            {% endif %}
        {% endfor %}
    {% else %}
        Статьи не найдены(
    {% endif %}
</section>
{% endblock %}