:root {
    --header-bg-color: rgba(0,0,0,0.6);     /* Цвет шапки */
    --font-color: #fff;                     /* Цвет шрифта */
    --main-bg: url('../img/bg.jpg');
  }

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: var(--font-color);
    background-color: var(--header-bg-color);
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none; 
}

h1 {
    margin: 0;
    padding: 0;
    color: var(--font-color);
    margin: 10px;
    font: bold;
    font-size: 3rem;
    background-color: rgba(32, 31, 31, 0);
}

h2 {
    margin: 0;
    padding: 0;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: var(--font-color);
}

p {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.conteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
}

.bg {
    background: url('../img/bg.png') #666;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-blend-mode: multiply;

}

.bg1 {
    background: url('../img/bg1.jpg') #666;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

.my-photo {
    margin: 60px 0 10px;
    width: 175px;
    border-radius: 100%;        /* Радиус скругления */
    border: 1px solid black;  /* Параметры рамки */
}

.header-background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
    background: var(--header-bg-color);
    box-shadow: 0px 20px 30px 10px rgba(0,0,0,0.6);
}   

.contaiter-social {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
}

.contaiter-social img {
    width: 50px;
    margin: 5px 10px;
    
}

.button-about-me {
    padding: 20px 30px;
    margin: 30px;
    border-radius: 50px;      
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--font-color);
    outline: none;
    font-size: 20px;
    
}

.button-about-me:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.container-about-me {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15vh;
    width: 100vw;
    height: 90vh;
}

.p-about-me {
    box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.6);
    background-color: rgba(0, 0, 0, 0.55);
    font-size: 20px;
}









