:root {
    --header-bg-color: rgba(0,0,0,0.6);     /* Цвет шапки */
    --font-color: #fff;                     /* Цвет шрифта */
    --main-bg: url('../img/bg.jpg');
  }

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: var(--font-color);
    background-color: var(--header-bg-color);
}

a {
    text-decoration: none; 
}

h1 {
    margin: 0;
    padding: 0;
    color: var(--font-color);
    margin: 1vw;
    font: bold;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0);
}

h2 {
    margin: 0;
    padding: 0;
    margin: 0 3vw;
    font-size: 1.25rem;
}

p {
    margin: 0;
    padding: 0;
    margin-bottom: 2vw;
    font-size: 1.5rem;
}

.conteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: url('../img/bg.png') #555;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-blend-mode: multiply;
}

.my-photo {
    margin-top: 3%;
    max-width: 10%;
    border-radius: 100%;        /* Радиус скругления */
    border: 1px solid black;  /* Параметры рамки */
}

.header-background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
    background: var(--header-bg-color);
    box-shadow: 0px 20px 30px 10px rgba(0,0,0,0.6);
}   

.contaiter-social {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
}

.contaiter-social img {
    width: 4vw;
    margin: 0 1vw;
    
}

.button-about-me {
    width: 10vw;
    height: 10vh;
    margin: 40px;
    border-radius: 50px;      
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--font-color);
    outline: none;
    font-size: 20px;
}

@media (max-width: 380px) { 
    h1 {
        font-size: 1rem;
    }
    h2, p {
        font-size: 0.5rem;
    }

    .my-photo {
        max-width: 30%;
    }

    .button-about-me {
        width: 60px;
        height: 40px;
        font-size: 10px;
        margin: 10px;
    }
 }