<!DOCTYPE html>
{% load static %}
<html lang="ru-Ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/name.png' %}" type="image/png">
    <title>{% block title %}QuantumaStelata{% endblock %}</title>
</head>
<body>
    <header>
        <div class='name'>
        </div>
        <div class='nav-bar'>
            <a href="/">
                <p>HOME</p>
            </a>
            <a>
                <p>ABOUT ME</p>
            </a>
            <a href="/admin">
                <p>ADMIN</p>
            </a>
        </div>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>  
</body>
</html>